<div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar">
    <h1 class="app-name">Υπολογιστές</h1>
    <div class="scrollable">
        <div class="scrollable-content">
            <div class="list-group" toggle="off" bubble target="mainSidebar">
                <nav-view view='view' ng-repeat="view in panelsList track by view.id" ></nav-view>
            </div>
        </div>
    </div>
</div>

<div class="app">
    <div class="navbar navbar-app navbar-absolute-top" role="navigation">
      <div class="navbar-brand navbar-brand-center">
        Navbar Brand
      </div>

      <div class="btn-group pull-left">
        <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
          <i class="fa fa-bars"></i> Menu
        </div>
      </div>

      <div class="btn-group pull-right">
        <div class="btn btn-navbar">
          Right Action
        </div>
      </div>
    </div>

    <div class="app-body">
        <div class="scrollable">
            <div class="scrollable-content">
                <div id="{{view.id}}" class="panel panel-default" view='view' ng-repeat="view in panelsList track by view.id">
                    <div class="panel-heading"><h4>{{view.name}}<i class="fa fa-refresh pull-right" ng-show="view.reset" ng-click="clearPanel(view.id)" /></h4></div>
                    <div class="panel-body"><view view='view'></view></div>
                </div>
            </div>    
        </div>
    </div>

    <div class="navbar navbar-app navbar-absolute-bottom">
      <div class="container">
         <i class="fa fa-icon-ok"></i>2013 Missel Richana      
      </div>
    </div>

</div>

