<div class="doc row">
    <div class="col-md-3">
        <div class="navigation list-group">
            <nav-panel class="list-group-item-success" panel="searchPanel"></nav-panel>
            <nav-panel ng-repeat="patient in patients track by patient.amka"
            panel="{id:patient.amka, name:patient.firstname}"></nav-panel>
        </div>
    </div>

    <div class="col-md-9">
        <div class="panels">
            <div id="{{searchPanel.id}}" class="panel panel-success" ng-controller="searchPatientCtrl">
                <div class="panel-heading"><h4>{{searchPanel.name}}<span class="glyphicon glyphicon-trash pull-right" ng-show="searchPanel.reset" ng-click="clearPanel(searchPanel.id)"></span></h4></div>
                <div class="panel-body"><panel panel='searchPanel'></panel></div>
            </div>
            <div ng-repeat="patient in patients track by patient.amka"
            id="{{'patient'+patient.amka}}" class="panel panel-default">
                <div class="panel-heading"><h4>{{patient.firstname + " " + patient.lastname}}</h4></div>
                <div class="panel-body"></div>
            </div>
        </div>
    </div>
</div>
