<div class="app">
    <div class="navbar navbar-app navbar-absolute-top" role="navigation" ng-controller="generalCtrl">
        <div class="navbar-brand navbar-brand-center">
            <select ng-model="location" ng-options="value.content as value.name group by value.category for value in filters">
            </select>
        </div>

        <div class="btn-group btn-group-lg pull-left">
            <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
                <i class="icon-menu"></i>
            </div>
        </div>
    </div>

    <div class="app-body scrollable" ng-swipe-disable-mouse ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()">
        <div class="content scrollable-content scroll-spy-target">
            <div id="{{view.id}}" class="panel panel-info" view='view' ng-repeat="view in panelsList track by view.id">
                <div class="panel-heading">
                    <button class="btn btn-default pull-right" ng-show="view.reset" verified-click="clearPanel(view.id)"><i class="icon-reload"></i>
                    </button>
                    <h4>{{view.name}}</h4>
                </div>
                <div class="panel-body">
                    <view view="view"></view>
                </div>
            </div>
        </div>
        <div class="sidebar sidebar-left ng-hide" toggleable inactive-class="ng-hide" parent-active-class="sidebar-left-in" id="mainSidebar">
            <h1 class="app-name">Υπολογιστές</h1>
            <div class="scrollable">
                <div class="scrollable-content">
                    <div class="list-group" toggle="off" bubble target="mainSidebar">
                        <nav-view view='view' ng-repeat="view in panelsList track by view.id"></nav-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
