<div class="app" layout="row" ng-swipe-disable-mouse ng-swipe-left="toggle('mainSidebar', 'off')" ng-swipe-right="toggle('mainSidebar', 'on')">
    <!-- <div class="navbar navbar-app navbar-absolute-top" role="navigation">
        <div class="navbar-brand navbar-brand-center">
            <h3>{{filters[activeFilterIndex].name}}</h3>
        </div>

        <div class="btn-group pull-left">
            <div ng-click="toggle('mainSidebar')" class="btn btn-lg sidebar-toggle">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div> -->

    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                  md-component-id="left"
                  md-is-locked-open="$mdMedia('gt-sm')">

      <md-toolbar class="md-whiteframe-z1">
        <select class="form-control" ng-model="location" ng-options="value.address as value.name group by value.category for value in filters" />
      </md-toolbar>

      <md-list>
        <md-list-item ng-repeat="view in panelsList track by view.id">
          <nav-view view='view'></nav-view>
        </md-list-item>
      </md-list>

    </md-sidenav>



    <div flex scroll-monitor layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2 scroll-spy-target">

      <md-toolbar layout="row" class="md-whiteframe-z1">
        <md-button class="menu" hide-gt-sm ng-click="toggleSideNav()" aria-label="Show Calculators List">
          <i class="fa fa-bars"></i>
        </md-button>
        <h1>{{filters[activeFilterIndex].name}}</h1>
      </md-toolbar>

      <md-content flex id="content">
        <div id="{{view.id}}" class="panel panel-info scroll-item" view='view' ng-repeat="view in panelsList track by view.id">
            <div class="panel-heading">
                <button class="btn btn-default pull-right" ng-show="view.reset" verified-click="clearPanel(view.id)"><i class="fa fa-refresh"></i>
                </button>
                <h4>{{view.name}}</h4>
            </div>
            <div class="panel-body">
                <view view="view"></view>
            </div>
        </div>
      </md-content>

    </div>


        <!-- <div class="sidebar sidebar-left ng-hide" toggleable inactive-class="ng-hide" parent-active-class="sidebar-left-in" id="mainSidebar">
            <div class="scrollable">
                <div class="scrollable-content">
                    <div class="form-group">
                        <select class="form-control" ng-model="location" ng-options="value.address as value.name group by value.category for value in filters" />
                    </div>
                    <div class="list-group" toggle="off" bubble target="mainSidebar">
                        <nav-view view='view' ng-repeat="view in panelsList track by view.id"></nav-view>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
