<div class="app">
    <div class="navbar navbar-app navbar-absolute-top" role="navigation">

        <div class="btn-group .btn-group-lg pull-left">
            <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
                <i class="fa fa-bars"></i> <span class="hidden-xs">{{fullName(patient)}}</span>
            </div>
        </div>

        <div class="btn-group btn-group-lg pull-right">
            <div verified-click="delete()" class="btn btn-navbar">
                <i class="fa fa-trash-o"></i>
                <span class="hidden-xs">Διαγραφή</span>
            </div>
            <div ng-click="save()" class="btn btn-navbar">
                <i class="fa-floppy-o"></i>
                <span class="hidden-xs">Αποθήκευση</span>
            </div>
            <a href="#/Patients" class="btn btn-navbar">
                <i class="fa fa-arrow-left"></i>
                <span class="hidden-xs">Επιστροφή</span>
            </a>
        </div>
    </div>

    <div class="app-body scrollable">
        <div class="content scrollable-content scroll-spy-target">
            <div id="addPanel" class="panel panel-info">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-animation="am-flip-x" bs-dropdown="dropdown">
                        Στοιχεία Ασθενή<span class="caret"></span>
                    </button>
                </div>
            </div>
            <div id="{{view.id}}" class="panel panel-info" view="view" ng-repeat="view in panelsList track by view.id">
                <div class="panel-heading">
                    <button class="btn btn-default pull-right" ng-if="!view.dontRemove" verified-click="removePanel(view.id)"><i class="fa fa-trash-o"></i>
                    </button>
                    <h4>{{view.name}}</h4>
                </div>
                <div class="panel-body">
                    <view view='view'></view>
                </div>
            </div>
        </div>
        <div class="sidebar sidebar-left ng-hide" toggleable inactive-class="ng-hide" parent-active-class="sidebar-left-in" id="mainSidebar">
            <h1 class="app-name">{{fullName(patient)}}</h1>
            <div class="scrollable">
                <div class="scrollable-content">
                    <div class="list-group" toggle="off" bubble target="mainSidebar">
                        <nav-view view='view' ng-repeat="view in panelsList track by view.id"></nav-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

