<div class="app">
    <div class="navbar navbar-app navbar-absolute-top" role="navigation" ng-controller="generalCtrl">
        <div class="navbar-brand navbar-brand-center">
            <select ng-model="location" ng-options="value.content as value.name group by value.tags for value in filters">
            </select>
        </div>
        <div class="btn-group btn-group-lg pull-left">
            <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
                <i class="fa fa-bars"></i>
            </div>
        </div>
        <div class="pull-right" style="padding-top: 13px; padding-right: 2px;">
            <switch ng-model="online" on="Online" off="Offline" />
        </div>
    </div>

    <div class="app-body scrollable">
        <div class="content scrollable-content scroll-spy-target">
            <div id="{{searchView.id}}" class="panel panel-success">
                <div class="panel-heading">
                    <button class="btn btn-default pull-right" ng-show="searchView.reset" ng-click="clearPanel(searchView.id)"><i class="fa fa-refresh"></i>
                    </button>
                    <h4>{{searchView.name}}</h4>
                </div>
                <div class="panel-body">
                    <view view="searchView"></view>
                </div>
            </div>
            <div ng-repeat="patient in values.patients|filterPatients:patientTemplate track by patient.id" id="{{patient.id}}" class="panel panel-info" ng-click="go('/Patient/'+patient.id)">
                <div class="panel-heading">
                    <span class="badge pull-right" ng-if="patient.amka && patient.amka.indexOf('#')===-1">Α.Μ.Κ.Α.: {{patient.amka}}</span>
                    <span class="badge pull-right" ng-if="!(patient.amka && patient.amka.indexOf('#')===-1)">Ετών: {{patient.age}}</span>
                    <h4>{{fullName(patient)}}</h4>
                </div>
                <div class="panel-body">
                    <ng-form class="form-horizontal">
                        <div class="form-group" ng-if="patient.telNo">
                            <label class="col-sm-3 control-label" for="telNo">Τηλέφωνο</label>
                            <div class="col-sm-9">
                                <div class="form-control-static" name="telNo"><a href="tel:{{patient.telNo | to_trusted}}">{{patient.telNo | to_trusted}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-if="patient.mobileNo">
                            <label class="col-sm-3 control-label" for="mobileNo">Κινητό</label>
                            <div class="col-sm-9">
                                <div class="form-control-static" name="mobileNo"><a href="tel:{{patient.mobileNo | to_trusted}}">{{patient.mobileNo | to_trusted}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-if="patient.address">
                            <label class="col-sm-3 control-label" for="address">Διεύθυνση</label>
                            <div class="col-sm-9">
                                <div class="form-control-static" name="address">{{patient.address | to_trusted}}</div>
                            </div>
                        </div>
                        <div class="form-group" ng-if="patient.notes">
                            <label class="col-sm-3 control-label" for="notes">Σημειώσεις</label>
                            <div class="col-sm-9">
                                <div ng-bind-html="patient.notes | to_trusted"></div>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
        <div class="sidebar sidebar-left ng-hide" toggleable inactive-class="ng-hide" parent-active-class="sidebar-left-in" id="mainSidebar">
            <h1 class="app-name">Αρχείο Ασθενών</h1>
            <div class="scrollable">
                <div class="scrollable-content">
                    <div class="list-group" toggle="off" bubble target="mainSidebar">
                        <nav-view class="list-group-item-success" view="searchView"></nav-view>
                        <nav-view ng-repeat="patient in values.patients|filterPatients:patientTemplate track by patient.id" view="{id:patient.id, name:fullName(patient)}"></nav-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
